<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.whu.irlab.dao.TrainRecordMapper" >
  <resultMap id="BaseResultMap" type="edu.whu.irlab.model.TrainRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="last_month" property="lastMonth" jdbcType="VARCHAR" />
    <result column="data_path" property="dataPath" jdbcType="VARCHAR" />
    <result column="model_path" property="modelPath" jdbcType="VARCHAR" />
    <result column="train_precision" property="trainPrecision" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, model, last_month, data_path, model_path, train_precision, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from train
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from train
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.whu.irlab.model.TrainRecord" >
    insert into train (id, model, last_month, 
      data_path, model_path, train_precision, 
      state)
    values (#{id,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, #{lastMonth,jdbcType=VARCHAR}, 
      #{dataPath,jdbcType=VARCHAR}, #{modelPath,jdbcType=VARCHAR}, #{trainPrecision,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.whu.irlab.model.TrainRecord" >
    insert into train
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="lastMonth != null" >
        last_month,
      </if>
      <if test="dataPath != null" >
        data_path,
      </if>
      <if test="modelPath != null" >
        model_path,
      </if>
      <if test="trainPrecision != null" >
        train_precision,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="lastMonth != null" >
        #{lastMonth,jdbcType=VARCHAR},
      </if>
      <if test="dataPath != null" >
        #{dataPath,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null" >
        #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="trainPrecision != null" >
        #{trainPrecision,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.whu.irlab.model.TrainRecord" >
    update train
    <set >
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="lastMonth != null" >
        last_month = #{lastMonth,jdbcType=VARCHAR},
      </if>
      <if test="dataPath != null" >
        data_path = #{dataPath,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null" >
        model_path = #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="trainPrecision != null" >
        train_precision = #{trainPrecision,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.whu.irlab.model.TrainRecord" >
    update train
    set model = #{model,jdbcType=VARCHAR},
      last_month = #{lastMonth,jdbcType=VARCHAR},
      data_path = #{dataPath,jdbcType=VARCHAR},
      model_path = #{modelPath,jdbcType=VARCHAR},
      train_precision = #{trainPrecision,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="selectByModel" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from train
    where model = #{mdoel,jdbcType=VARCHAR}
  </select>
  <select id="selectByState" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from train
    where state = #{state,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train
  </select>
  <update id="updateStateByModel" parameterType="edu.whu.irlab.model.TrainRecord" >
    update train
    set state = #{state,jdbcType=INTEGER}
    where model = #{model,jdbcType=VARCHAR}
  </update>
  <update id="updateByModelSelective" parameterType="edu.whu.irlab.model.TrainRecord" >
    update train
    <set >
      <if test="trainPrecision != null" >
        train_precision = #{trainPrecision,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where model = #{model,jdbcType=VARCHAR}
  </update>
</mapper>